/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

    *,
    *::before,
    *::after {
        background: #fff !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: " (" attr(href) ")";
    }

    abbr[title]::after {
        content: " (" attr(title) ")";
    }

    /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto.woff2') format('woff2'), url('../fonts/Roboto.woff') format('woff'), url('../fonts/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Italic'), local('Roboto-Italic'), url('../fonts/Robotoitalic.woff2') format('woff2'), url('../fonts/Robotoitalic.woff') format('woff'), url('../fonts/Robotoitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/Robotobold.woff2') format('woff2'), url('../fonts/Robotobold.woff') format('woff'), url('../fonts/Robotobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('../fonts/Robotobolditalic.woff2') format('woff2'), url('../fonts/Robotobolditalic.woff') format('woff'), url('../fonts/Robotobolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Museo Cyrl';
    src: local('Museo Cyrl 900'), local('MuseoCyrl-900'), url('../fonts/Museo_Cyrl_900.woff') format('woff'), url('../fonts/Museocyrl-900.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h4 {
    font-family: 'Museo Cyrl', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}


header {
    background: #f6f6f6;
    border-bottom: 2px solid #e1e1e1;
}

.navbar .nav-item {
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding: 0;
}

.navbar .nav-item .nav-link {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

.navbar .nav-item .nav-link .nav-link:hover {
    color: #0080fa;
}

.navbar .nav-item .nav-link.active {
    text-decoration: underline;
    color: #f97f1a;
}

.navbar-toggler,
.navbar-toggler:focus {
    border: 1px solid #0080fa;
    box-shadow: none;
}

header nav .phone,
footer nav .phone {
    position: relative;
    height: 46px;
    width: 175px;
    background: linear-gradient(90deg, #ffa61a, #f87a1a);
    border-radius: 5px;
    color: #fff !important;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 18px;
}

header nav .phone:before,
footer nav .phone:before {
    height: 24px;
    width: 24px;
    content: " ";
    background: url(../img/number-icon.png);
    position: absolute;
    left: 11px;
    top: 25%;
}

header nav .phone:hover,
footer nav .phone:hover {
    filter: drop-shadow(0px 0px 3px rgb(0 0 0 / 30%));
    color: #fff;
}


.top-body {
    background-image: url(../img/slider-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.top-body-content {
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .top-body-content {
        padding-right: 30%;
    }
}

@media (min-width: 992px) {
    .top-body-content {
        padding-right: 25%;
    }
}

.top-body-text {
    margin-bottom: 25px;
    padding-top: 32px;
}

.top-body-text>h1 {
    margin-bottom: 15px;
}

.top-body-text>h3 {
    line-height: 24px;
}

.top-body-item {
    display: flex;
    align-items: center;
}

.top-body-item span {
    margin-left: 10px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.main-body-order h2 {
    margin-left: calc(var(--bs-gutter-x) * .5);
}

.main-body-order-submit a {
    display: inline-block;
    padding: 20px 50px;
    background: linear-gradient(90deg, #fea41a, #f97b1a);
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    border-radius: 35px;
}

.main-body-order-submit a:hover {
    box-shadow: 0 3px 10px 0px rgb(0 0 0 / 20%);
}

.main-body>.main-body-content {
    padding: 17px 7px;
    box-sizing: border-box;
    box-shadow: 0px 25px 20px 10px rgb(0 0 0 / 20%);
}

.main-body-descr p {
    margin-top: 15px;
}

.main-body-descr a[href^="tel:"] {
    color: black;
    text-decoration: none;
}

.main-body-descr img {
    max-width: 100%;
    margin: auto;
    display: block;
}

.main-body-order-items {
    display: flex;
    padding-top: 5%;
}

.main-body-order-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main-body-order-item .icon-wrap {
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 992px) {
    .main-body-order-item {
        flex-direction: row;
        text-align: left;
    }

    .main-body-order-item span {
        margin-left: 5%;
    }
}

.main-body-services {
    margin-top: 50px;
    padding-bottom: 40px;
}

.main-body-services-items a {
    text-decoration: none;
}

.service-item-icon {
    height: 70px;
    width: 70px;
    border: 2px solid #ececec;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    margin-right: 3%;
}

.main-body-services-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 8px 6px 0px rgb(0 0 0 / 10%);
    border-radius: 40px;
    padding: 3%;
}

.service-item-icon {
    background-image: url(../img/services-icon.png);
}

.washer .service-item-icon {
    background-image: url(../img/service-icon-1.png);
}

.fridge .service-item-icon {
    background-image: url(../img/service-icon-2.png);
}

.dishwasher .service-item-icon {
    background-image: url(../img/service-icon-3.png);
}

.tv .service-item-icon {
    background-image: url(../img/service-icon-4.png);
}

.conditioner .service-item-icon {
    background-image: url(../img/service-icon-5.png);
}

.installation .service-item-icon {
    background-image: url(../img/service-icon-6.png);
}

.main-body-services-item span {
    font-size: 18px;
    font-weight: 700;
    color: #000;
}

.main-body-partners {
    padding: 0;
}

.main-body-partners>.wrapper {
    box-shadow: 10px 0px 30px -16px #333, -10px 0px 30px -16px #333;
    min-height: 300px;
    padding: 0 3%;
    box-sizing: border-box;
    background: linear-gradient(130deg, #009ffe, #006af8);
}

.main-body-partners h2 {
    padding-top: 45px;
    padding-bottom: 25px;
    color: #fff;
}

.main-body-partners-items {
    margin-bottom: 3%;
}

.main-body-partners-item {
    height: 65px;
    max-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

.main-body .bottom-block {
    box-sizing: border-box;
    box-shadow: 0px 25px 20px 10px rgb(0 0 0 / 20%);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 0;
    height: 55px;
    margin-bottom: 40px;
}

footer {
    border-top: 2px solid #e1e1e1;
    padding: 1% 0;
}

.footer-block {
    min-height: 85px;
    padding: 0 3%;
}

footer li {
    display: inline-block;
    padding: 5px 20px;
    margin: 0;
    /* border-right: 1px solid #eaeaea; */
}

nav li {
    list-style-position: inside;
    padding: 10px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}

.footer-menu {
    padding: 0;
}

.footer-menu li {
    display: flex;
    align-items: center;
}

.footer-menu li img {
    margin-right: 5px;
}

nav a {
    text-decoration: none;
    color: #000;
}

.footer-text {
    padding: 0 80px;
}

.main-body-order form {
    /* height: 420px; */
    width: 100%;
    max-width: 400px;
    background: #0080fa;
    padding: 5%;
}

.main-body-order form p {
    line-height: 24px;
    font-family: 'Museo Cyrl';
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}

.main-body-order form input,
.main-body-order form textarea {
    height: 36px;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
}

.main-body-order form textarea {
    height: 100px;
    font-family: inherit;
    resize: none;
}

.main-body-order-submit {
    /* margin: 15px 0; */
    display: flex;
    justify-content: center;
}

.main-body-order-submit a {
    padding: 20px 50px;
    background: linear-gradient(90deg, #fea41a, #f97b1a);
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    border-radius: 35px;
}